

footer .footer-flags {
  display: block;
}
.home-banner .home-banner-item {
  position: relative;
}
.home-banner .home-banner-item >a {
  display: block;
}
.home-banner .home-banner-item >a >img {
  width: 100%;
  height: auto;
}
.home-banner .home-banner-item .caption {
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.64);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#a3ffffff',endColorstr='#a3ffffff');
  padding: 26px;
  width: 324px;
  height: 161px;
  border-top: 2px solid #0089d0;
  overflow: hidden;
}
.home-banner .home-banner-item .caption .caption-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 15px;
  border-bottom: 1px solid #0089d0;
}
.home-banner .home-banner-item .caption .caption-content {
  line-height: 21px;
  padding: 21px 0;
}
.home-banner .home-banner-item .caption a.caption-link {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  display: block;
  background: #0089d0;
  width: 120px;
  text-align: center;
  color: white;
  line-height: 37px;
}
.home-banner .cycle-prev,
.home-banner .cycle-next {
  cursor: pointer;
  width: 33px;
  height: 33px;
  position: absolute;
  bottom: 215px;
  z-index: 8000;
}
.home-banner .cycle-prev {
  background: url(img/arrow_left_rollout.jpg) no-repeat;
  right: 34px;
}
.home-banner .cycle-prev:hover {
  background: url(img/arrow_left_rollover.jpg) no-repeat;
}
.home-banner .cycle-next {
  right: 0;
  background: url(img/arrow_right_rollout.jpg) no-repeat;
}
.home-banner .cycle-next:hover {
  background: url(img/arrow_right_rollover.jpg) no-repeat;
}
.subsections:after {
  display: block;
  content: "";
  clear: both;
}
.subsections .subsection {
  padding-top: 38px;
  height: 385px;
  float: left;
  width: 380px;
}
.subsections .subsection:after {
  content: "";
  display: block;
  clear: both;
}
.subsections .subsection .subsection-title {
  border-left: 8px solid;
  color: #0089d0;
  line-height: 23px;
  font-size: 20px;
  padding-left: 24px;
}
.subsections .subsection .seminar-items {
  padding: 0 32px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.subsections .subsection .seminar-items .item {
  border-bottom: 1px dotted darkred;
  padding: 16px 0;
}
.subsections .subsection .seminar-items .item:last-child {
  border-bottom: 0;
}
.subsections .subsection .seminar-items .item a.item-date {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  padding-left: 23px;
  line-height: 26px;
  display: block;
  background: url(http://www.wisdomglobal.hk/institutions/list/2/css/institutions/img/icon_calendar.png) left no-repeat;
}
.subsections .subsection .seminar-items .item a.item-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  color: #0089d0;
  font-weight: bold;
  display: block;
  line-height: 26px;
}
.subsections .subsection .featured-items {
  margin-top: 26px;
  position: relative;
  margin-bottom: 20px;
}
.subsections .subsection .featured-items .cycle-pager {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 100px;
  z-index: 8000;
}
.subsections .subsection .featured-items .item {
  padding: 0 32px;
}
.subsections .subsection .featured-items .item .item-image {
  display: block;
  margin-bottom: 39px;
  margin-left: auto;
  margin-right: auto;
  max-width: 431px;
}
.subsections .subsection .featured-items .item .item-image img {
  width: 100%;
  height: auto;
}
.subsections .subsection .featured-items .item a.item-name {
  color: #0089d0;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  line-height: 23px;
  display: block;
}
.subsections .subsection .featured-items .item .item-desc {
  line-height: 23px;
  display: block;
  overflow: hidden;
  height: 69px;
}
.subsections .subsection .featured-items .cycle-pager span {
  display: inline-block;
  text-indent: -9999px;
  width: 15px;
  height: 14px;
  background: url(img/slideshow_off.png) no-repeat;
  margin: 0 4px;
  cursor: pointer;
}
.subsections .subsection .featured-items .cycle-pager span.cycle-pager-active,
.subsections .subsection .featured-items .cycle-pager span:hover {
  background: url(img/slideshow_on.png) no-repeat;
}
.subsections .subsection .institutions-items {
  padding: 0 32px;
  margin-top: 26px;
}
.subsections .subsection .institutions-items .item {
  margin-bottom: 16px;
}
.subsections .subsection .institutions-items .item .item-left {
  float: left;
}
.subsections .subsection .institutions-items .item .item-right {
  float: right;
}
.subsections .subsection .institutions-items .item .item-right a.item-name {
  color: #0089d0;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  line-height: 23px;
  display: block;
}
.subsections .subsection .institutions-items .item .item-right .item-desc {
  display: block;
  line-height: 23px;
  height: 69px;
  overflow: hidden;
}
.subsections .subsection .institutions-items .item .item-right .item-desc a.link-more {
  color: #0089d0;
  font-weight: bold;
}
.subsections .subsection:nth-child(odd) {
  background: #f4f4f4;
}
@media (max-width: 1160px) {
  .subsections .subsection {
    float: none;
    width: auto;
    height: auto;
  }
}
@media (max-width: 1160px) and (min-width: 768px) {
  .subsections .subsection .seminar-items .item {
    float: left;
    width: 48.5%;
  }
  .subsections .subsection .seminar-items .item:nth-child(even) {
    float: right;
  }
  .subsections .subsection .seminar-items .item:nth-last-child(2) {
    border-bottom: 0;
  }
  .subsections .subsection .featured-items .cycle-pager {
    bottom: 32px;
    text-align: left;
    width: auto;
  }
  .subsections .subsection .featured-items .item:after {
    content: "";
    display: block;
    clear: both;
  }
  .subsections .subsection .featured-items .item .item-image {
    float: left;
    width: 314px;
  }
  .subsections .subsection .featured-items .item .item-right {
    float: right;
    margin-left: 38px;
    padding: 8px 0;
  }
  .subsections .subsection .featured-items .item .item-right .item-desc {
    height: 138px;
  }
  .subsections .subsection .institutions-items .item .item-right .item-desc {
    height: 23px;
  }
}
@media (max-width: 767px) {
  .home-banner .home-banner-item {
    background: white;
  }
  .home-banner .home-banner-item .caption {
    position: relative;
    width: 90%;
    padding: 26px 5%;
  }
  .home-banner .cycle-prev {
    right: 60px;
  }
  .home-banner .cycle-next {
    right: 26px;
  }
  .subsections .subsection .institutions-items .item .item-right .item-desc {
    height: 46px;
  }
}
